{% import '@uzc_gazes/graph-macros.html.twig' as graphMacros %}
{{ graphMacros.showTableLinks() }}
{{ graphMacros.openModalButton("graph-modal", "Attēlot grafikā") }}
{{ graphMacros.selectColumnsButton() }}
{{ graphMacros.addUzcChartsApp() }}
<h3 class="w-100 text-center mt-3 fw-bold fs-3">Agrihort meteo datu tabula</h3>
<table id="agrihort-meteo" class="table table-striped" style="width:100%">
    <thead class="thead-dark">
        <tr>
            <th>Datums</th>
            <th>ID Lauka nr.</th>
            <th>Slejas nr.</th>
            <th>Lauciņa nr.</th>
            <th>Augsnes temperatūra -6cm, C</th>
            <th>Virszemes temperatūra, C</th>
            <th>Gaisa temperatūra +12cm, C</th>
            <th>Mitrums</th>
        </tr>
    </thead>
</table>
{{ graphMacros.modal("graph-modal", "data-table-graph") }}

